.collaps__title{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    align-items: center;
    border-radius: 0.63rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    background-color: #FF6060;
    color: #fff;
    
}

.collaps__content{
    
    border-radius: 0.63rem;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    background-color: #F6F6F6;
    
}