.collaps__title{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    align-items: center;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    background-color: #FF6060;
    color: #fff;

    p {
        transition: transform 0.3s ease-in-out;
    }
  
    .fa-chevron-up {
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
    }
  
    &.open {
        .fa-chevron-up {
          transform: rotate(180deg);
        }
    }
    
}

.collaps__content{
    
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    background-color: #F6F6F6;
    
}